.comic {
	position: absolute;
	inset: 0;
	margin: auto;
	width: calc(100vw - 4rem);
	height: calc(100vh - 12rem);
	fill: black;

	@media (prefers-color-scheme: dark) {
		filter: invert(1);
	}
}

.comic__text {
	text-transform: uppercase;
}

.comic__line {
	stroke: black;
	stroke-linecap: round;
	stroke-width: 3px;
}

.comic__frame {
	stroke: black;
	stroke-width: 3px;
	fill: none;
}

.comic__bitmap {
	image-rendering: pixelated;
}
