.comic {
	position: absolute;
	inset: 0;
	margin: auto;
	width: calc(100vw - 4rem);
	height: calc(100vh - 12rem);

	@media (prefers-color-scheme: dark) {
		filter: invert(1);
	}

	text {
		text-transform: uppercase;
	}
}
