.info__button {
	position: absolute;
	inset: 2rem auto auto 2rem;
	z-index: 1;
	margin: 0;
	padding: 0;
	width: 2rem;
	height: 2rem;
	border: none;
	border-radius: 50%;
	background-color: var(--text);
	color: var(--background);
	font-size: inherit;
	font-family: inherit;
	cursor: pointer;

	&:focus-visible {
		outline: 0.15rem solid var(--text);
		outline-offset: 0.15rem;
	}

	&[data-type='close'] {
		inset: 0.5rem auto auto 0.5rem;
		background-color: var(--background);
		color: var(--text);

		&:focus-visible {
			outline-color: var(--background);
		}
	}
}

.info__description {
	position: absolute;
	inset: 1.5rem auto auto 1.5rem;
	margin: 0;
	padding-inline: 3rem 1rem;
	padding-block: 0.7rem;
	width: 20rem;
	max-width: calc(100vw - 4rem + 1rem);
	border: none;
	border-radius: 1.4rem;
	background-color: var(--text);
	color: var(--background);
	line-height: 1.5;

	a {
		color: inherit;
		text-decoration-skip-ink: none;
		text-decoration-thickness: 0.125rem;
		text-underline-offset: 0.125rem;
	}
}
