.info__button {
	position: absolute;
	inset: 2rem auto auto 2rem;
	margin: 0;
	padding: 0;
	width: 2rem;
	height: 2rem;
	border: none;
	border-radius: 50%;
	background-color: var(--text);
	color: var(--background);
	font-size: inherit;
	font-family: inherit;
	z-index: 1;
	cursor: pointer;

	&:focus-visible {
		outline: 0.15rem solid var(--text);
		outline-offset: 0.15rem;
	}
}

.info__button--close {
	inset: 0.5rem auto auto 0.5rem;
	background-color: var(--background);
	color: var(--text);

	&:focus-visible {
		outline-color: var(--background);
	}
}

.info__description {
	position: absolute;
	inset: 1.5rem auto auto 1.5rem;
	margin: 0;
	padding-block: 0.7rem;
	padding-inline: 3rem 1rem;
	width: 20rem;
	max-width: calc(100vw - 4rem + 1rem);
	border: none;
	border-radius: 1.4rem;
	background-color: var(--text);
	color-scheme: light;
	color: var(--background);
	line-height: 1.5;
}
