.languages {
	position: absolute;
	inset: 2rem 2rem auto auto;
	display: flex;
	column-gap: 0.4rem;
}

.languages__link {
	display: grid;
	place-items: center;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	background-color: var(--text);
	color: var(--background);
	text-decoration: none;

	&[aria-current="page"] {
		background-color: var(--background);
		color: var(--text);
	}

	&:focus-visible {
		outline: 0.15rem solid var(--text);
		outline-offset: 0.15rem;
	}
}
